/* Reset básico para evitar espaçamentos indesejados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo dos parágrafos */
p {
  line-height: 1.2;
  margin-bottom: 4px;
}

/*========Section Home========*/

/* Seção principal da home */
.homeStyle {
  width: auto;
  height: auto;
  padding: 100px;
  background-color: #F8F5F5;
  display: flex;
  flex-wrap: wrap;
  /* Garante responsividade */
  align-items: center;
  justify-content: space-evenly;

}

.homeStyle h1 {
  size: 900px;
  font-weight: 700;
}

.homeStyle button {
  width: auto;
  height: 70px;
  padding: 20px;
  background-color: #6E69FF;
  border: none;
  border-radius: 10px;

  transition: all 0.3s ease;
  /* Transição suave para todas as propriedades */

  /* Efeito de hover */
  &:hover {
    background-color: rgba(241, 44, 44, 0.97);
    /* Muda a cor de fundo */
    color: rgb(255, 255, 255);
    /* Muda a cor do texto */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra */
    transform: translateY(-6px);
    /* Leve elevação do card */
  }

  /* Efeito de foco (quando o botão está focado) */
  &:focus {
    outline: none;
    /* Remove o contorno padrão */
    box-shadow: 0 0 10px rgba(235, 255, 51, 0.97);
    /* Sombra quando focado */
  }
}

/* Container da imagem */
.imagem-perfil {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 300px;
  padding-left: 30px;
}

/* Estilo da imagem */
.imagem-perfil img {
  width: 100%;
  max-width: 200px;
  height: auto;
  border-radius: 10px;
  display: block;
}

/*========Fim Section Home========*/



/*========Section Titulos das Sections========*/

/*Estilização para os titulos das sections*/
.titulosSections {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-weight: 900;


}

.tituloSobreposto {
  display: flex;
  justify-content: space-around;
  position: relative;
  text-align: center;
  margin-bottom: 60px;
}

.tituloFrente {
  font-size: 24px;
  font-weight: 800;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  margin: 0;
}

.tituloFundo {
  max-width: 80px;
  font-size: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

/* Responsividade extra para celular */
@media (max-width: 576px) {
  .tituloFundo {
    max-width: 80px;
    font-size: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    justify-self: center;
    opacity: 0.4;
  }

  .tituloFrente {
    font-size: 14px;
    font-weight: 800;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    margin: 0;
  }
}


/*========Fim Section Titulos das Sections========*/

/*========Section Sobre========*/
.sectionSobre {
  padding: 70px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  /* flex-direction: row; */

}

.sectionSobre p {
  padding: 20px;
  line-height: 1.2;
  overflow-wrap: break-word;
  max-width: 600px;
  opacity: 0.7;
  font-size: 20px;

}

.listaDadosSobre ul li img {
  width: 70px;
  height: 70px;
  list-style: nome;
}

.listaDadosSobre li {
  list-style: none;
  font-weight: 600;
  transition: all 0.3s ease;
  padding: 20px;

  /* Efeito de hover */
  &:hover {
    background-color: rgba(255, 91, 91, 0.97);
    color: rgb(22, 22, 22);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-6px);
    border-radius: 10px;
  }


  &:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(235, 255, 51, 0.97);

  }

}

.botaoVisualizarExperiencias {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.botaoVisualizarExperiencias button {
  padding: 20px;
  background-color: #6E69FF;
  border: none;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  font-weight: 600;
  transition: 0.3s ease;
}

.botaoVisualizarExperiencias button:hover {
  background-color: rgba(241, 44, 44, 0.97);
  transform: translateY(-4px);
  color: rgb(255, 255, 255);

}

/*Time line sobre minhas experiências*/
.timeline {
  position: relative;
  padding: 20px 0;
  margin: 20px 0;
  border-left: 4px solid #0d6efd;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 20px;
}

.timeline-item::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -9px;
  width: 16px;
  height: 16px;
  background-color: #0d6efd;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 0 2px #0d6efd;
}

.timeline-date {
  font-size: 14px;
  color: #6c757d;
  font-weight: 600;
}

.timeline-content h5 {
  margin: 5px 0;
  font-weight: 700;
  color: #0d6efd;
}

.timeline-content p {
  margin: 0;
  font-size: 15px;
  opacity: 0.9;
}

.content-logo-empresas {
  width: 50px;
  height: 50px;
}

/* Fim Time line sobre minhas experiências*/


/*===========Section Habilidades==========*/
.container-section-habilidades {
  background-color: #F8F5F5;
  max-width: 900px;
  margin: auto;
  padding: 50px 20px;

}


.container-section-habilidades li {
  list-style: none;
  padding: 10px;
}

.accordion-button {
  background-color: transparent;
  color: #6E69FF;
  font-weight: 700;
  font-size: 18px;
  transition: color 0.3s ease;
}

/* Cor ao abrir o item */
.accordion-button:not(.collapsed) {
  background-color: #f1f1ff;
  color: #6E69FF;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .125);
}

/* Remover bordas externas*/
.accordion-item {
  border: none;
}

/* Responsividade extra para celular */
@media (max-width: 576px) {
  .accordion-button {
    font-size: 16px;
  }
}

/*===========Fim Section Habilidades==========*/

/*===========Section FormacaoAcademica==========*/

.container-section-formacaoAcademica {
  width: auto;
  height: auto;
  background-color: #F8F5F5;
}

.content-formacao-academia-sobreMim {
  padding: 0px;
  display: flex;
  justify-content: space-evenly;
  justify-items: end;
  flex-wrap: wrap;
  flex-direction: row;
}

.content-formacao-academia-sobreMim img {
  width: auto;
  height: auto;
}

.timelineFormacaoAcademicia {
  position: relative;
  vertical-align: auto;
  padding: 20px 0;
  margin: 20px 0;
  border-left: 4px solid #f79090;
}

.timelineFormacaoAcademicia-item {
  position: relative;
  margin-bottom: 30px;
  padding-left: 20px;
}

.timelineFormacaoAcademicia-item::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -9px;
  width: 16px;
  height: 16px;
  background-color: #ff2d2d;
  border-radius: 50%;
  border: 3px solid white;
  box-shadow: 0 0 0 2px #0d6efd;
}

.timelineFormacaoAcademicia-date {
  font-size: 14px;
  color: #6c757d;
  font-weight: 600;
}

.timelineFormacaoAcademicia-content h5 {
  margin: 5px 0;
  font-weight: 700;
  color: #0d6efd;
}

.timelineFormacaoAcademicia-content p {
  margin: 0;
  font-size: 15px;
  opacity: 0.9;
}

/*===========Fim Section FormacaoAcademica==========*/

/*===========Section Portfolio==========*/

.container-portfolio {
  padding: 40px 20px;
  width: auto;
  height: auto;

}

.content-card {
  flex: 1 1 300px;

  display: flex;
  width: auto;
  height: auto;
  max-width: 700px;
  background-color: #6E69FF;
  border: #6c757d;
  border-radius: 10px;
  flex-wrap: wrap;
}

.card-itens img {
  max-width: 400px;
  width: 100%;
  height: auto;
  background-color: #F8F5F5;
}

.card-descricao {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  padding: 3px;
}

.card-descricao p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
}

.card-descricao button {
  align-self: flex-start;
  padding: 18px 50px;
  background-color: white;
  color: #6E69FF;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .content-card {
    flex-direction: column;
    align-items: center;
  }

  .card-itens img {
    max-width: 100%;
  }

  .card-descricao {
    padding: 20px;
    text-align: center;
    align-items: center;
  }

  .card-descricao button {
    align-self: center;
  }
}

.swiper {
  padding: 40px 0;
}

.swiper-slide {
  width: 90%;
  max-width: 700px;
  display: flex;
  justify-content: center;
}

/*==========Fim Section Portfolio==========*/
.container-contato {
  background-color: #F8F5F5;
  padding: 20px;
}

.container-formulario {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  background-color: #6E69FF;
  max-width: 1000px;
  align-items: center;
  margin: auto;

}

.container-formulario img {
  width: auto;
  height: 600px;
}

#form-contato {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: column;
  max-width: 400px;
  margin: auto;

}

#form-contato h6 {
  align-self: center;
  font-size: 50px;
  font-weight: 400;
  color: aliceblue;
}

#form-contato input {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 14px;
  padding: 20px;
}

#form-contato button {
  border-radius: 14px;
  align-items: center;
  padding: 10px;

  transition: all 0.3s ease;
  /* Transição suave para todas as propriedades */

  /* Efeito de hover */
  &:hover {
    background-color: rgba(241, 44, 44, 0.97);
    /* Muda a cor de fundo */
    color: rgb(255, 255, 255);
    /* Muda a cor do texto */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    /* Adiciona sombra */
    transform: translateY(-6px);
    /* Leve elevação do card */
  }

  /* Efeito de foco (quando o botão está focado) */
  &:focus {
    outline: none;
    /* Remove o contorno padrão */
    box-shadow: 0 0 10px rgba(235, 255, 51, 0.97);
    /* Sombra quando focado */
  }

}

#form-contato button::hover {
  background-color: rgba(241, 44, 44, 0.97);
  transform: translateY(-4px);
  color: rgb(255, 255, 255);
}

@media (max-width: 768px) {

  .container-formulario img {
    width: 0;
    height: 0;
  }


  #form-contato {
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    flex-direction: column;
    max-width: 400px;
    margin: auto;

  }


  #form-contato input {
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 14px;
    padding: 20px;
  }

  #form-contato button {
    border-radius: 14px;
    align-items: center;
    padding: 10px;

  }

  #form-contato button::hover {
    background-color: rgba(241, 44, 44, 0.97);
    transform: translateY(-4px);
    color: rgb(255, 255, 255);
  }
}

/*==========Section Contato==========*/

/*==========Section Footer==========*/
footer {
  width: auto;
  height: 50px;
  color: #f1f1ff;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(71, 71, 71);
  align-items: center;
  justify-content: space-around;
  background-color: rgb(71, 71, 71);
}